program/.vscode/settings.json
.vscode/*
program/__pycache__/*

program/temp.py

log/*/*/log/*
log/*/*/model/*
log/*/*/tf-idf_model

data_small/reddit/*
data_small/feature/*
data_small/TFRecord/*
data/reddit/*
data/feature/*
data/TFRecord/*
data_pretraining/*

temp/*
data/reddit_back/*
data/background/*
log/RF_back/*
