program/.vscode/settings.json
.vscode/*
program/__pycache__/*

program/temp.py

log/*

data_small/reddit/*
data_small/feature/*
data_small/TFRecord/*
data_*/*
data_back/*
data_new/*

data/reddit/*
data/feature/*
data/TFRecord/*
data_pretraining/*

temp/*
data/reddit_back/*
data/background/*

temp.py
data/*

shell/*
data_split/*
analysis*/*/*
background/waqaskhan786.npy
log_inverse/*
related_work/*
program_new/__pycache__/*
