program/.vscode/settings.json
.vscode/settings.json
log/*/*/log/*
log/*/*/model/*
data/TFRecord/*/*
program/*.sh
data/reddit/*/*
data/state/*/*
work.sh
submissions/*
data/full_reddit/*/*
data/state_trans/*/*
program/__pycache__/*
data/tf_idf/*/*
log/*/*/*_model
.vscode/*/*
